{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="main-content" style="padding-top: 50px;">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" style="height: 350px; object-fit: cover;"
                            src="{% static 'assets/images/author/st.jpg' %}" alt="Card image cap">
                        <div class="card-body"  style="height: 285px;">
                            <h3 style="text-align: center;color: rgb(174, 72, 94);">Dr.Samir Rustamov</h3> <br>
                            <h4 style="text-align: center;color: rgb(51, 97, 120);">Supervisor</h4>
                            <p class="card-text">
<pre>

Assistant professor, Director of
CS Program, School of Information 
Technology and Engineering,
ADA University,
Baku, Azerbaijan,
<a href="#">srustamov@ada.edu.az</a>
</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" style="height: 350px; object-fit: cover;"
                            src="{% static 'assets/images/author/kamran.jpg' %}" alt="Card image cap">
                        <div class="card-body"  style="height: 285px;">
                            <h3 style="text-align: center;color: rgb(174, 72, 94);">Kamran Hüseynov</h3> <br>
                            <h4 style="text-align: center;color: rgb(51, 97, 120);">Mentor</h4>
                            <p class="card-text">
<pre>

Master of Science in Computer Science 
and Data Analytics, School of,
Information Technology and Engineering
ADA University,
Baku, Azerbaijan,
<a href="#">srustamov@ada.edu.az</a>
</pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" style="height: 350px; object-fit: cover;"
                            src="{% static 'assets/images/author/emin.jpg' %}" alt="Card image cap">
                        <div class="card-body"  style="height: 285px;">
                            <h3 style="text-align: center;color: rgb(174, 72, 94);">Emin Rajabli</h3> <br>
                            <h4 style="text-align: center;color: rgb(51, 97, 120);">Student</h4>
                            <p class="card-text">
<pre style="font-weight: bold;">
    
Bachelor of Science in Computer
Engineering, School of Information
Technology and Engineering, 
ADA University,
Baku, Azerbaijan,
<a href="#">erajabli2021@ada.edu.az</a></pre>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" style="height: 350px;"
                            src="{% static 'assets/images/author/rovshen.jpg' %}" alt="Card image cap">
                        <div class="card-body"  style="height: 285px;">
                            <h3 style="text-align: center;color: rgb(174, 72, 94);">Rovshan Bayramov </h3> <br>
                            <h4 style="text-align: center;color: rgb(51, 97, 120);">Student</h4>
                            <p class="card-text">
<pre>

Bachelor of Science in Computer Science,
School of Information 
Technology and Engineering,
ADA University,
Baku, Azerbaijan,
<a href="#">rbayramov2021@ada.edu.az</a></pre>
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" style="height: 350px; object-fit: cover;"
                            src="{% static 'assets/images/author/mirhesen1.png' %}" alt="Card image cap">
                        <div class="card-body" style="height: 285px;">
                            <h3 style="text-align: center;color: rgb(174, 72, 94);">Mirhasan Huseynov</h3> <br>
                            <h4 style="text-align: center;color: rgb(51, 97, 120);">Student</h4>
                            <p class="card-text">
<pre>

Bachelor of Science in Computer Science,
School of Information 
Technology and Engineering,
ADA University,
Baku, Azerbaijan,
<a href="#">mhuseynov4577@ada.edu.az</a></pre>                              
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card" style="width: 100%;">
                        <img class="card-img-top" style="height: 350px; object-fit: cover;"
                            src="{% static 'assets/images/author/Igbal.jpg' %}"  style="height: 285px;" alt="Card image cap">
                        <div class="card-body">
                            <h3 style="text-align: center;color: rgb(174, 72, 94);">Igbal Hasanli</h3> <br>
                            <h4 style="text-align: center;color: rgb(51, 97, 120);">Student</h4>
                            <p class="card-text">
<pre>

Bachelor of Science in Information
technology, School of Information,
Technology and Engineering 
ADA University,
Baku, Azerbaijan,
<a href="#">ihasanli2021@ada.edu.az</a>
</pre>        
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}