{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Word Embedding AZE</title>

    <!-- Fontfaces CSS-->
    <!-- <link href="css/font-face.css" rel="stylesheet" media="all"> -->
    <link href="{% static 'assets/css/font-face.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/animsition/animsition.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/wow/animate.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/slick/slick.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/select2/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet">
</head>
<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <!-- <a class="logo" href="index.html">
                            <img src="{% static 'assets/images/icon/logo.png' %}" alt="CoolAdmin" />
                        </a> -->
                        <a href="{% url 'home' %}" style="color: rgb(174, 72, 94);font-weight: bold; font-size: 21px;">Senior Design Project</a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="active">
                            <a href="{% url 'home' %}">
                                <i class="fas fa-home"></i>Main Page</a>
                        </li>
                        <li>
                            <a href="{% url 'SDP2' %}">
                                <i class="fas fa-book"></i>Senior Design Project</a>
                        </li>
                        <li>
                            <a href="{% url 'Authors' %}">
                                <i class="fas fa-users"></i>Contributors</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-won-sign"></i>Word Embedding for Azerbaijani Language</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{% url 'CBOW' %}">CBOW Word2Vec</a>
                                </li>
                                <li>
                                    <a href="{% url 'SkipGram' %}">Skip Gram Word2Vec</a>
                                </li>
                                <li>
                                    <a href="{% url 'FastText' %}">CBOW Fast Textl</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <!-- <a href="#">
                    <img src="{% static 'assets/images/icon/logo.png' %}" alt="Cool Admin" />
                </a> -->
                <a href="{% url 'home' %}" style="font-style: oblique;color: rgb(174, 72, 94);font-weight: bold; font-size: 21px;">Senior Design Project</a>

            </div> 
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list"  style="font-weight: bold;">
                        <li class="active">
                            <a href="{% url 'home' %}" style="color: rgb(51, 97, 120);">
                                <i class="fas fa-home"></i>Main Page</a>
                        </li>
                        <li>
                            <a href="{% url 'SDP2' %}" style="color: rgb(51, 97, 120);">
                                <i class="fas fa-book"></i>Senior Design Project</a>
                        </li>
                        <li>
                            <a href="{% url 'Authors' %}" style="color: rgb(51, 97, 120);">
                                <i class="fas fa-users"></i>Contributors</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#" style="color: rgb(51, 97, 120);">
                                <i class="fas fa-won-sign"></i>Word Embedding for Azerbaijani Language</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li class="has-sub">
                                    <a class="js-arrow" href="#" style="color: rgb(51, 97, 120);">
                                        <i class="fas fa-won-sign"></i>WORD2VEC</a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a href="{% url 'CBOW' %}" style="color: rgb(51, 97, 120);">CBOW</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'SkipGram' %}" style="color: rgb(51, 97, 120);">Skip Gram</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-sub">
                                    <a class="js-arrow" href="#" style="color: rgb(51, 97, 120);">
                                        <i class="fas fa-won-sign"></i>Fast Text</a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a href="{% url 'FastText' %}" style="color: rgb(51, 97, 120);">CBOW</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'SGFastText' %}" style="color: rgb(51, 97, 120);">Skip Gram</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- MAIN CONTENT-->
            {% block content %}
                
            {% endblock content %}
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    
    <script src="{% static 'assets/vendor/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendor/slick/slick.min.js' %}"></script>
    <script src="{% static 'assets/vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'assets/vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <script src="{% static 'assets/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/vendor/counter-up/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'assets/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>
<!-- end document-->
