{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-8">
                    <img src="{% static 'assets/images/ada.jpg' %}" class="w-100" alt="">
                </div>
            </div>
            <div class="row d-flex justify-content-center pb-5">
                <div class="col-8 text-center">
                    <h3 class="mt-4" style="color: rgb(174, 72, 94);">ABOUT ADA UNIVERSITY</h3>
                    <p style="line-height: 2.5;font-weight: bold;text-align: justify;margin-top: 21px;color: rgb(51, 97, 120);">ADA University
                        was established under the decree dated January 13th, 2014, by the President of the Republic of
                        Azerbaijan. The University is a state higher education institution engaged in the delivery of
                        undergraduate and graduate degree programs in addition to the advancement of research.

                        The University is the legal heir of the Azerbaijan Diplomatic Academy (ADA) and Information
                        Technologies University. They were merged in January 2014 to establish ADA University.

                        Founded on March 6, 2006, the Azerbaijan Diplomatic Academy began offering an Advanced Foreign
                        Service Program to diplomats of the Ministry of Foreign Affairs and civil servants in the
                        government, as of January 2007. The Academy launched its first master degree in September 2009,
                        followed by bachelor degrees in September 2011.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}