{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-8">
                    <img src="{% static 'assets/images/bg.jpg' %}" class="w-100" alt="">
                </div>
            </div>
            <div class="row d-flex justify-content-center pb-5">
                <div class="col-8 text-center">
                    <p style="LINE-HEIGHT: 2.5;font-weight: bold;text-align: justify;margin-top: 21px;color: rgb(51, 97, 120);">
                        Senior Design Project is an application of technical, communication, personal, and team
                        skills. Oral and written communication of technical information,
                        including progress reports, technical memos, final report, and oral
                        presentations. Students work in small groups over two semesters to identify an
                        opportunity, define the problem, analyze competing needs and
                        requirements, perform prior work searches, develop alternative
                        designs, carry out cost analyses, and select and implement a design
                        solution. The course is a stepping stone for students to learn about engineering
                        research, design and implementation.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}